h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:gray;
}



#adminDivs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#input_data{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

#input_post{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 16px;
    height: 240px;
}

#update_post{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 16px;
    height: 190px;
}

button{
    width: 180px;
    padding: 5px;
}