/* *{
    font-family: 14px system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */
body{
    background-color: #f5f5f5;
}

#main-box{
    width: 80%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    margin-top: 30px;
    
} 
#main-box label{
    font-size: 16px;
    color: grey;
    line-height: 1.2em;
    letter-spacing: 0.2px;
    
}

#city-filter h2{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}   
 


#filter-box{
width:20%;
 
}

#data-box{
width:62%;

}
#ad-box{
width:10%;
text-align: center;

}
#ad-box img{
    position:fixed;
    right:28px;

}

#map{
    border: 1px solid rgb(117, 175, 199);
    width:95%;
    margin:auto;
}

iframe{
    width:100%;
    
}

#name-filter{
    width:100%;
    margin:auto;
    padding-top: 35px;
    padding-bottom: 35px;
    border-top:2px solid gray;
    border-bottom: 2px solid gray;
    margin-top:27px;
    text-align: center;
    font-size: 18px;
}

.filter-head{
    
    margin-bottom:5px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#name-filter input{
    width:90%;
    height:40px;
}
#name-filter p{
   
    margin-bottom:10px;
    font-weight: 750;
    font-size: 18px;
}

/* sorter and display data section */

#sorting-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2% 0%;
}
#sort-box{
    display: flex;
    flex-direction: column;
    padding: 2px 15px;
    border:1px solid gray;
    background-color: white;
    font-size: 16px;

}
div{
    margin-bottom: 10px;
}
#sorter{
    outline: none;
    border:none;
    font-size: 16px;
}

#sort-box span{
    color: gray;
    font-size: 16px;
}
#sort-heading{
    font-weight: bold;
    margin-top: 0px;
    font-size:20px;
}
#sort-heading:hover{
    text-decoration: underline;
}

#properties-no{
    margin-bottom: 2px;
}

#signin-signup{
    background-color: white;
    padding:2%;
}
#signin-signup h3{
 margin-bottom:0px;
 margin-top: 0px;
}
#signin-signup p{
    margin-top:0px;
}

#signin-signup a{
    text-decoration: none;
    color:skyblue;
    margin-right: 10px;
}

#signin-signup a:hover{
    text-decoration: underline;
}

#display-box{
    display:grid;
    grid-template-columns: 100% ;
    grid-auto-rows: 360px;
    gap:15px;
    margin-top:1%;

}

.item-card{
   display:flex;
   background-color: white;
   height: 100%;


}
.item-card>div:nth-child(1){
    height:100%;
    width:53%;
}
.item-card>div:nth-child(2){
    width:45%;
    padding:5px;
}

.card-image{
    width:100%;
    height:100%;
}

@media all and (min-width:300px) and (max-width:700px)
   {
    #filter-box{
        display: none;
    }
    #ad-box{
        display: none;
    }
    #data-box{
        width:100%;
    }

   }


