

#barcode{
    width: 80%;
    margin: auto;
    height: 400px;
    background-color: white;
    display: flex;
    gap: 10px;
    border: 0.5px solid grey;
    margin-top: 40px;
    
}
.barcode-one{
    width: 35%;
   
}
.barcode-one img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.barcode-two{
    
    width: 70%;
    display: flex;
   justify-content: space-between;
   padding: 10px;
}
.barcode-two div:nth-child(1){
   
    width: 75%;
    padding: 5px;
}
.barcode-two div:nth-child(1) ul li{
    padding: 10px;
    margin-right:5px ;
}
.barcode-two div:nth-child(1) h2{
   margin-bottom: 10px;
}
.barcode-two div:nth-child(2){
    width: 20%;
}
.barcode-two div:nth-child(2) img{
    width: 100%;
    
}
.barcode-two div:nth-child(1) input{
    padding: 13px;
    width: 150px;
    margin-right: 10px;
    font-size: 16px;
    margin-bottom:10px;
}
.barcode-two div:nth-child(1) select{
    padding: 13px;
    width: 130px;
    margin-right: 10px;
    font-size: 16px;
    margin-left: 10px;
}
.barcode-two div:nth-child(1) button{
    padding: 13px;
    background-color: #c83259;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
}
.barcode-two p{
    font-size: 14px;
    color: rgb(70, 69, 69);
}


@media all and (max-width: 1200px) and (min-width: 900px){

    .barcode-two>div>h1{
        font-size: 25px;
    }
    
    .barcode-two div:nth-child(1) ul li{
        padding: 8px;
    }
    .barcode-two div:nth-child(1) h2{
       margin-bottom: 10px;
    }
    .barcode-two div:nth-child(2){
        width: 20%;
    }
    
    .barcode-two div:nth-child(1) input{
        padding: 10px;
    }

    .barcode-two div:nth-child(1) select{
        padding: 10px;
    }

    .barcode-two div:nth-child(1) button{
        margin-left: 10px;
    }
    .barcode-two p{
        font-size: 16px;
    }
}