body{
    background-color: #f5f5f5;
}

body{
    background-color: #F5F5F5;
}
#homeSecondDiv{
    width: 70%;
    margin: auto;
    border: 0px solid red;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 50px;
}
#homeSecondDiv>div{
    border: 0px solid blue;
    flex: 3;
    display: flex;
    flex-direction: row;
    gap: 10px;
    box-shadow: 0 4px 4px -1px #232323 ;
}
#homeSecondDiv>div>img{
  width: 100%;
  margin: auto;
}
#homeThirdDiv{
    width: 70%;
    margin: auto;
    border: 0px solid red;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    margin-top: 15px;
}
#featured{
    color: #000;
}
#featureGrid{
    border: 0px solid rebeccapurple;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: -10px;
}
#featureGrid>div{
    border: 0px solid rebeccapurple;
    flex: 4;
    height: 150px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: brightness(95%);
}
#firstImg{
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/02/ORB_Storefront_LastMinute_imgB_900x600_20211101.jpg?impolicy=fcrop&w=900&h=600&q=mediumHigh"); 
}
#secondImg{
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/02/ORB_Storefront_AllInclusive_imgB_900x600_20211101.jpg?impolicy=fcrop&w=900&h=600&q=mediumHighs");
}
#thirdImg{
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/02/ORB_Storefront_MOD_imgB_900x600_20211101.jpg?impolicy=fcrop&w=900&h=600&q=mediumHigh");
}
#fourthImg{
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/02/ORB_Storefront_JetAndReset_imgB_900x600_20211101.jpg?impolicy=fcrop&w=900&h=600&q=mediumHigh");
}
#featureGrid>div>h3{
    color: white;
    line-height:5px;
    margin-top: 118px;
    text-align: center;
}


#featureGrid>:nth-child(2)>h3{
    margin-top: 70px;
    font-size: 25px;
    line-height:23px;
    text-align: center;
}

#featureGrid>div>p{
    color: white;
    font-size: 12px;
    line-height: 1px;
    margin-left: 30px;
    /* margin-top: -1px; */
}
#homeFourthDiv{
    width: 70%;
    margin: auto;
    margin-top: 30px;
}
#homeFourthDivImg{
    height: 220px;
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2020/12/03/ORB_Storefront_Deals_2740x1484-V1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    filter: brightness(85%);
}
#homeFourthDivImg>div{
    filter: brightness(100%);
    display: inline-block;
    align-self: flex-end;
    color: white;
    line-height: 5px;
    filter: brightness(100%);
    font-size: 15px;
    color: #007e8f;
    margin-left: 10px;
}
#homeFourthDivImg>div>p{
  
   font-size: 15px;
   color: #007e8f
}
#homefiveDiv{
    width: 70%;
    margin: auto;
    color: #000; 
    margin-top: 30px;
}

#fiveDivCard{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#fiveDivCard>div{
    /* flex: 3; */
    padding: 5px;
    width: 100%;
    height: 60px;
    line-height: 1px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    border: 1px solid #616161;
}
#fiveDivCard>div>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
#fiveDivCard>div>div>h4{
    font-size: 15px;
}
#fiveDivCard>div>div>img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
#fiveDivCard>div>p{
    font-size: 11px;
    margin-top: 1px;
}
#homeSixDiv{
    width: 70%;
    margin: auto;
}
#homeSixDiv>h2{
    color: #000;
}
#roadTrip{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#roadTrip>div{
    flex: 2;
    height: 180px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: brightness(0.8);
   
}
#roadTripDiv1{
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/18/ORB_Blog_NationalParks_imgB_1199x399_20211117.jpg");
}
#roadTripDiv2{
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/18/ORB_Blog_RoadTrips_imgB_1199x399_20211117.jpg");
}
#roadTrip>div>div{
    line-height: 15px;
    padding: 30px;
    backdrop-filter: brightness(120%);
}
#roadTrip>div>div>h3{
   color: white;
}
#roadTrip>div>div>p{
    color: white;
}
#roadTrip>div>div>button{
    color: #17aad0;
    background-color: white;
    border: none;
    padding: 8px;
    width: 100px;
}


 /* Responsive for medium screen */
 
@media all and (max-width: 1200px) and (min-width: 900px) {
        
    #citySelect{
        width: 180px;
        resize:horizontal ;
    }
   
    
    #flightCitySelect{
        width: 180px;
    }
    
    #flightCitySelect:focus{
        outline: none;
        background-color: white
    }
    
    #firstStayDiv{
        gap: 20px;
    }
    
    .check{
        width: 170px;
    }
    
    .check i{
        padding: 4px;
        font-size: 18px;
    }
    
    .calender{
        padding-left: 8px;
    }
   
    #travelerId{
       margin-top: 2px;
       line-height: 10px;
    }
    
    .calender p{
        line-height: 25px;
    }
    
    .calender input{
        width: 100%;
    }

    #hideDiv{
        justify-content: space-between;
    }

    #travelers{
        position: absolute;
        width: 200px;
        padding: 6px;
        padding: 4px;
        line-height: 30px;
        margin-left: 560px;
    }


    #travelers>:nth-child(1){
        color: #000;
    }
    
    #travelers>:nth-child(2){
        color: #000;
    }
    
    
    .buttonsTrav >p{
        font-size: 15px;
        color: #000;
    }
    
    #btntraveler{
        font-size: 12px;
        margin-left: 90px;
    }
    
    #searchcard{
        width: 215px;
        height: 250px;
    }
    
    #searchbar{
        font-size: 14px;
    }
    
    #searchcard>button{
        font-size: 12px;
    }

    .checkinDate{
        width: 150px;
    }
    
    .calender input {
        outline: 0;
        border-width: 0 0 0px;
    }
    
    .calender input:focus {
        outline: 0;
    }
    
    #searchcard2{
        width: 215px;
        height: 200px;
    }
    
    #searchbar2{
        font-size: 12px;
    }
   
    #searchcard2>button{
        font-size: 12px;
    }
    
    #searchicon,#searchicon2{
        margin-top: 50px;
        margin-bottom: 50px;
    }
  
    #searchicon>i,#searchicon2>i{
        font-size: 60px;
    }


    #FlightsDiv{
        width: 85%;
        margin: auto;
    }

    #flightfirst{
        width: 85%;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        gap: 0px;
        justify-content: space-between;
    }
    
    #flightsButtons{
        gap: 0px;
    }
    
    #dropdowns{
        gap: 10px;
    }
    
    #flightSelectleaving{
        width: 190px;
    }
    
    #imageArrow{
        font-size: 14px;
    }
    
    #flightSelectgoin{
        width: 170px;
    }
    
    #flightserachbtn{
        text-align: center;
        margin-top: 15px;
    }
    
    #flightSerachBtn{
        padding: 12px;
        width: 200px;
        margin-top: 30px;
        color: white;
        font-size: 15px;
        font-weight: 600;
        background-color: #c83259;
        border: none;
    }
    
  
    /* Div Third */
    
    #featureGrid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 0px;
    }

    #featureGrid>div{
        height: 500px;
    }

    

    #featureGrid>div>h3{
        margin-top: 450px;
        text-align: left;
    }

    #featureGrid>div>p{
        margin-left:2px;
    }

    /* Div Five */

    /* #homefiveDiv{
        width: 80%;
        margin: auto;
        margin-top: 30px;
    } */
    #homefiveDiv h2{
        margin-bottom: 20px;
        font-size: 25px;
    }

    #fiveDivCard>div{
        padding: 8px;
        height: 70px;
    }
    #fiveDivCard>div>div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #fiveDivCard>div>div>h4{
        font-size: 15px;
    }
    #fiveDivCard>div>div>img{
        width: 20px;
        height: 20px;
        margin-right: 0px;
    }

    #fiveDivCard>div>p{
        font-size: 13px;
        margin-top: 5px;
        color: grey;
    }
}


 /* Responsive for small screen */
 
 @media all and (max-width: 900px) and (min-width: 300px) {
    
    #citySelect{
        width: 150px;
    }

    #flightCitySelect{
        width: 180px;
    }
    
    #firstStayDiv{
        gap: 20px;
    }
    
    .check{
        width: 180px;
    }
    
    .check i{
        padding: 4px;
        font-size: 18px;
    }
    
    .calender{
        padding-left: 8px;
    }
   
    #travelerId{
       margin-top: 2px;
       line-height: 10px;
    }
    
    .calender p{
        line-height: 25px;
    }
    
    .calender input{
        width: 100%;
    }

    #hideDiv{
        justify-content: space-between;
    }

    #travelers{
        position: absolute;
        width: 200px;
        padding: 6px;
        padding: 4px;
        line-height: 30px;
        margin-left: 560px;
    }


    #travelers>:nth-child(1){
        color: #000;
    }
    
    #travelers>:nth-child(2){
        color: #000;
    }
    
    
    .buttonsTrav >p{
        font-size: 15px;
        color: #000;
    }
    
    #btntraveler{
        font-size: 12px;
        margin-left: 90px;
    }
    
    #searchcard{
        width: 215px;
        height: 250px;
    }
    
    #searchbar{
        font-size: 14px;
    }
    
    #searchcard>button{
        font-size: 12px;
    }

    .checkinDate{
        width: 150px;
    }
    
    .calender input {
        outline: 0;
        border-width: 0 0 0px;
    }
    
    .calender input:focus {
        outline: 0;
    }
    
    #searchcard2{
        width: 215px;
        height: 200px;
    }
    
    #searchbar2{
        font-size: 12px;
    }
   
    #searchcard2>button{
        font-size: 12px;
    }
    
    #searchicon,#searchicon2{
        margin-top: 50px;
        margin-bottom: 50px;
    }
  
    #searchicon>i,#searchicon2>i{
        font-size: 60px;
    }


    #FlightsDiv{
        width: 85%;
        margin: auto;
    }

    #flightfirst{
        width: 85%;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        gap: 0px;
        justify-content: space-between;
    }
    
    #flightsButtons{
        gap: 0px;
    }
    
    #dropdowns{
        gap: 10px;
    }
    
    #flightSelectleaving{
        width: 190px;
    }
    
    #imageArrow{
        font-size: 14px;
    }
    
    #flightSelectgoin{
        width: 170px;
    }
    
    #flightserachbtn{
        text-align: center;
        margin-top: 15px;
    }
    
    #flightSerachBtn{
        padding: 12px;
        width: 200px;
        margin-top: 30px;
        color: white;
        font-size: 15px;
        font-weight: 600;
        background-color: #c83259;
        border: none;
    }
    
  
    /* Div Third */
    
    #featureGrid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 0px;
    }

    #featureGrid>div{
        height: 500px;
    }

    

    #featureGrid>div>h3{
        margin-top: 450px;
        text-align: left;
    }

    #featureGrid>div>p{
        margin-left:2px;
    }

    /* Div Five */

    /* #homefiveDiv{
        width: 80%;
        margin: auto;
        margin-top: 30px;
    } */
    #homefiveDiv h2{
        margin-bottom: 20px;
        font-size: 25px;
    }

    #fiveDivCard>div{
        padding: 8px;
        height: 70px;
    }
    #fiveDivCard>div>div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #fiveDivCard>div>div>h4{
        font-size: 15px;
    }
    #fiveDivCard>div>div>img{
        width: 20px;
        height: 20px;
        margin-right: 0px;
    }

    #fiveDivCard>div>p{
        font-size: 13px;
        margin-top: 5px;
        color: grey;
    }
}